<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/main.css" />

    <title>
        Dose Watch
    </title>

</head>


<body>
    <h1 class="icon-bar">

        Dose Watch

    </h1>

    <div id="forms">
        <form class="fr" action="dose-watch/make" method="POST">

            <i class="fa fa-5x fa-user icon" style="padding: 8px 12px 8px 20px;"></i>
            <button type="submit" value="">Create Record</button>

        </form>

        <form class="fr" action="dose-watch/disp" method="post">

            <i class="fa fa-5x fa-search icon" style="padding: 8px 8px 8px 12px;"></i>
            <button type="submit" value="">Find Record</button>

        </form>

    </div>







</body>


</html>