<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="../static/main.css"/>

    <title>
        Hospital Management
    </title>
</head>


<body>
    <h1
    class="icon-bar">

        Anna Hospitals

        <h2
        class="icon-bar">
            You can trust us with your lives...
        </h2>

    </h1>

        <div
        class="d">



            <input 
                class="bigbt"            
                id="create" 
                value="Add patient record"
                name="but1"
                type="submit"> <br><br>




                <input 
                class="bigbt"            
                id="read" 
                bt="but1"
                value="Display patient record"
                type="reset">




            

            
            

        </div>


        


</body>


</html>

